<div id="task-{{ task.id }}" class="task-item" x-data="taskItem({{ task.id }}, '{{ task.title|escapejs }}', {{ task.completed|lower }})">
    <div class="task-content" x-show="!editing">
        <input type="checkbox" 
               x-model="completed" 
               @change="toggleCompleted()"
               class="task-checkbox">
        <span :class="{ 'completed': completed }" x-text="title" @dblclick="startEdit()"></span>
    </div>
    
    <input x-show="editing" 
           x-model="editTitle" 
           @keydown.enter="saveEdit()" 
           @keydown.escape="cancelEdit()"
           x-ref="editInput"
           class="task-edit-input">
    
    <div x-data="{ confirming: false }" class="delete-confirm">
        <button type="button" @click="confirming = true" x-show="!confirming && !editing">Delete</button>
        
        <div x-show="confirming">
            Are you sure? 
            <button @click="confirming = false">No</button>
            <button hx-delete="{% url 'delete_task' task.id %}" 
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' 
                    hx-target="#task-{{ task.id }}" 
                    hx-swap="delete">Yes, Delete</button>
        </div>
    </div>
</div>